---
import {Image} from 'astro:assets';
import {ClientRouter} from "astro:transitions";
import '../styles/reset.css'
import '../styles/global.css'
import '@fontsource-variable/plus-jakarta-sans';
import '@fontsource/fira-sans';
import portfolioImg from '../assets/portfolio.svg'
import aboutImg from '../assets/omnie.svg'
import ofertImg from '../assets/oferta.svg'
import contactImg from '../assets/kontakt.svg'
---
<style lang="scss">
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    width: 100vw;
    height: auto;
    min-height: 100vh;

  }

  .page-wrapper{
      width: 100%;
      max-width: 1440px;
      display: flex;
      margin: 64px auto;
      gap:96px;

  }

  .menu {
      margin-top: 16px;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
      width: 256px;
      gap: 64px;
    &__link {
      display: inline-block;
      width: fit-content; // Dopasowanie szerokości do zawartości
    }
  }

  main {
    flex: 1;
      width: 100%;
  }

</style>

<html lang="pl" transition:name="root" transition:animate="none">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>Hania Lepieszkiewicz - Portfolio</title>
    <ClientRouter/>
</head>
<body>
<div class="page-wrapper">
<nav class="menu">
    <a href="/portfolio" class="menu__link">
        <Image src={portfolioImg} alt="Portfolio"/>
    </a>
    <a href="/o-mnie" class="menu__link">
        <Image src={aboutImg} alt="O mnie"/>
    </a>
    <a href="/oferta" class="menu__link">
        <Image src={ofertImg} alt="Oferta"/>
    </a>
    <a href="/kontakt" class="menu__link">
        <Image src={contactImg} alt="Kontakt"/>
    </a>
</nav>
<main transition:name="body" transition:animate="fade">
    <slot/>
</main>
</div>
</body>
</html>
