---
import {getEntry} from "astro:content";
const locale = Astro.currentLocale ?? 'pl';
import {Image} from 'astro:assets';
import {ClientRouter} from "astro:transitions";
import '../styles/reset.css'
import '../styles/global.css'
import '@fontsource-variable/plus-jakarta-sans';
import '@fontsource/fira-sans';

import Menu from "../components/menu/Menu.astro";

const siteSettingsEntry = await getEntry('settings', 'settings');
const siteSettings = siteSettingsEntry.data[locale];

const {withoutBodyTransition} = Astro.props
---

<style lang="scss">
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    width: 100vw;
    height: auto;
    min-height: 100vh;

  }

  .page-wrapper {
    width: 100%;
    max-width: 1440px;
    display: flex;
    margin: 20px auto;
    padding: 20px;

    gap: 96px;
    flex-direction: column;
    @media screen and (min-width: 768px) {
      margin: 64px auto;
      flex-direction: row;
    }

  }

  .menu-space {
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
      height: 100vh;
      width: 256px;
    }

  }


  main {
    flex: 1;
    width: 100%;
  }

</style>

<html lang="pl" transition:name="root" transition:animate="none">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <!-- META TAGS -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <meta name="description" content={siteSettings.metaTags.description}/>
    <meta name="keywords" content={siteSettings.metaTags.keywords}/>
    <meta name="robots" content="index,follow"/>
    <!-- OPEN GRAPH -->
    <meta property="og:locale" content={locale}/>
    <meta property="og:title" content={siteSettings.openGraph.title}/>
    <meta
            property="og:description"
            content={siteSettings.openGraph.description}
    />
    <meta property="og:type" content="website"/>
    <meta
            property="og:image"
            content={siteSettings.openGraph.image.src}
    />
    <!-- -->
    <title>{siteSettings.metaTags.title}</title>
    <ClientRouter/>
</head>
<body>
<div class="page-wrapper">
    <div class="menu-space"></div>
    <Menu/>
    <main transition:name="body" transition:animate={withoutBodyTransition ? 'none' : 'fade'}>
        <slot/>
    </main>
</div>
</body>
</html>
