---
import {Image} from "astro:assets";
import {getCollection, render} from 'astro:content';
const locale = Astro.currentLocale ?? 'pl';
import { marked } from 'marked';
import { ArrowLeft } from '@lucide/astro';
const pageCollection = await getCollection('pagePortfolio');
import Layout from "../../layouts/Layout.astro";
const pageData = pageCollection[0].data[locale]
import DOMPurify from 'isomorphic-dompurify';
export async function getStaticPaths() {
  const locale = Astro.currentLocale ?? 'pl';
  const pageCollection = await getCollection('pagePortfolio');
  const pageData = pageCollection[0].data[locale]
  return pageData.items.map(item => ({params: {slug: item.slug}}))
}

const {slug} = Astro.params;


const data = pageData.items.find(item => item.slug === slug)
const renderHTMLFromMarkdown = (markdownText) =>
  DOMPurify.sanitize(marked.parse(markdownText));
---
<style is:global>
    @media screen and (max-width: 767px)  {
        nav.menu {
            display: none !important;
        }

    }
</style>
<style lang="scss">

  .image{
    height: auto;
      width: 100%;
    object-fit: contain;
      margin-bottom: 2rem;
      border-radius: 12px;

  }
  .image-wrapper{
      border-radius: 12px;
      overflow: hidden;
      max-width: 600px;
  }
.text-wrapper{
    max-width: 60ch;
}
.back-wrapper{
    display: inline-flex;
    padding: 4px 8px;
    border-radius: 12px;
    align-items: center;
    gap: 8px;
    border: 2px solid var(--color-blue);
    margin-bottom: 16px;

}
.link{
    color: var(--color-blue);
    text-decoration: none;
    font-weight: 700;
}
</style>
<Layout>

    <div class="back-wrapper">
        <ArrowLeft color="rgb(33, 80, 104)"/>
        <a href="/portfolio" class="link">Wróć</a>
    </div>
    <h2 >{data.title}</h2>
    <div class="image-wrapper">

    <Image transition:name={slug} src={data.image} alt="Portert Hani" class="image" width="512" height="800"/>
    </div>
    <div class="text-wrapper">
    <Fragment set:html={renderHTMLFromMarkdown(data.description ?? "")} />

    </div>
</Layout>